<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <script src="../xcomment.js"></script>
    <script src="../xcomment-mobile.js"></script>
    <link rel="stylesheet" href="../xcomment.css">
    <link rel="stylesheet" href="../xcomment-mobile.css">
</head>
<body>

<div id="demo" style="width: 1000px; margin: 0 auto"></div>
<div id="demo2" style="width: 400px; border: 1px solid red"></div>

<script>
var c = new XComment({
    onSubmit: function(v) {
        console.log(v);
        
        c.clear();
    }
});
var c2 = new XCommentMobile({
    onSubmit: function(v) {
        console.log(v);
        
        c2.clear();
    }
});
document.getElementById('demo').appendChild(c.getDom())
document.getElementById('demo2').appendChild(c2.getDom())
</script>
</body>
</html>
