<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <link rel="stylesheet" href="./xcomment.css">
</head>
<body>
<div style="width: 800px; margin: 0 auto; border: 0px solid red;">

<div class="xcomment-relative xcomment-form">
    <button type="button" class="xcomment-form-btn">发表评论</button>
    <section class="xcomment-form-face">
        <img class="xcomment-form-avatar" src="https://i2.hdslb.com/bfs/face/0362e0c2fc5b5e443ec91d893ff784d029abb201.jpg@52w_52h.webp">
    </section>
    <section class="xcomment-form-content">
        <textarea class="xcomment-form-textarea" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。"></textarea>
    </section>
    <section class="xcomment-form-widget">
        <button type="button" class="xcomment-form-widget-item xcomment-form-widget-emoji">表情</button>
    
        <div class="xcomment-form-pop">
            <div class="xcomment-form-pop-title">标题</div>
            <div class="xcomment-form-pop-emoji">
                <a href="javascript:;" title="舒服" data-em="(￣▽￣)">(￣▽￣)</a>
                <a href="javascript:;" title="高兴" data-em="(^_^)">(^_^)</a>
                <a href="javascript:;" title="难过" data-em="(＞﹏＜)">(＞﹏＜)</a>
                <a href="javascript:;" title="哼" data-em="(￣ヘ￣)">(￣ヘ￣)</a>
                <a href="javascript:;" title="哭" data-em="(╥﹏╥)">(╥﹏╥)</a>
                <a href="javascript:;" title="害怕" data-em="o((⊙﹏⊙))o">o((⊙﹏⊙))o</a>
                <a href="javascript:;" title="赞" data-em="d===(￣▽￣*)b">d===(￣▽￣*)b</a>
                <a href="javascript:;" title="爱你" data-em="(づ￣3￣)づ╭❤">(づ￣3￣)づ╭❤</a>
                <a href="javascript:;" title="无奈" data-em="╮(╯＿╰)╭">╮(╯＿╰)╭</a>
                <a href="javascript:;" title="惊讶" data-em="(⊙ˍ⊙)">(⊙ˍ⊙)</a>
                <a href="javascript:;" title="汗" data-em="(-_-!)">(-_-!)</a>
                <a href="javascript:;" title="强壮" data-em="ᕦ(ò_óˇ)ᕤ">ᕦ(ò_óˇ)ᕤ</a>
                <a href="javascript:;" title="鄙视" data-em="→_→">→_→</a>
                <a href="javascript:;" title="鄙视" data-em="←_←">←_←</a>
            </div>
            <div class="xcomment-form-pop-footer">
                <a href="javascript:;" class="active">颜文字</a>
            </div>
        </div>
    </section>
</div>

<div class="xcomment-header">
    <a href="javascript:;" class="active">全部评论</a>
    <a href="javascript:;">按热度排序</a>
</div>
<div >
    <div class="xcomment-relative">
        <section class="xcomment-face">
            <img class="xcomment-avatar" src="https://i2.hdslb.com/bfs/face/b001dcba7b7d0de387abb9adefe4e409ba9e03f4.jpg@52w_52h.webp">
        </section>
        <section class="xcomment-content xcomment-content-toplevel">
            <div class="xcomment-user">
                <a href="">张三哈哈哈哈</a>
            </div>
            <div class="xcomment-text">
                我来水评论了我来水评论<img src="https://i0.hdslb.com/bfs/vip/f80d384875183dfe2e24be13011c595c0210d273.png@50w_50h.webp">
            </div>
            <div class="xcomment-widget">
                <div class="xcomment-operation">
                    <i class="xcomment-icon xcomment-icon-dot"></i>
                    <div class="xcomment-operation-drop">
                        <a class="xcomment-operation-drop-item" href="javascript:;">举报</a>
                        <a class="xcomment-operation-drop-item" href="javascript:;">加入黑名单</a>
                    </div>
                </div>
                <span class="xcomment-widget-margin">#164</span>
                <span class="xcomment-widget-margin">来自<a href="">安卓客户端</a></span>
                <span class="xcomment-widget-margin">2018-03-29 21:21</span>
                <span class="xcomment-widget-prize xcomment-widget-margin">
                    <i class="xcomment-icon xcomment-icon-prize"></i>
                    <span>11</span>
                </span>
                <span class="xcomment-btn">回复</span>
            </div>
            
            <!-- reply -->
            <div>
                <div class="xcomment-relative xcomment-reply">
                    <section class="xcomment-face xcomment-reply-face">
                        <img class="xcomment-avatar xcomment-reply-avatar" src="https://i2.hdslb.com/bfs/face/b001dcba7b7d0de387abb9adefe4e409ba9e03f4.jpg@52w_52h.webp">
                    </section>
                    <section class="xcomment-content xcomment-reply-content">
                        <div class="xcomment-user">
                            <a href="">张三哈哈哈哈</a>
                            <span class="xcomment-text xcomment-reply-text">氨基酸点击发送江东父老</span>
                        </div>
                        <div class="xcomment-widget xcomment-reply-widget">
                            <div class="xcomment-operation">
                                <i class="xcomment-icon xcomment-icon-dot"></i>
                                <div class="xcomment-operation-drop">
                                    <a class="xcomment-operation-drop-item" href="javascript:;">举报</a>
                                    <a class="xcomment-operation-drop-item" href="javascript:;">加入黑名单</a>
                                </div>
                            </div>
                            <span class="xcomment-widget-margin">2018-03-29 21:21</span>
                            <span class="xcomment-widget-prize xcomment-widget-margin">
                                <i class="xcomment-icon xcomment-icon-prize"></i>
                                <span>11</span>
                            </span>
                            <span class="xcomment-btn">回复</span>
                        </div>
                    </section>
                </div>
                <div class="xcomment-relative xcomment-reply">
                    <section class="xcomment-face xcomment-reply-face">
                        <img class="xcomment-avatar xcomment-reply-avatar" src="https://i2.hdslb.com/bfs/face/b001dcba7b7d0de387abb9adefe4e409ba9e03f4.jpg@52w_52h.webp">
                    </section>
                    <section class="xcomment-content xcomment-reply-content">
                        <div class="xcomment-user">
                            <a href="">张三哈哈哈哈</a>
                            <span class="xcomment-text xcomment-reply-text">氨基酸点击发送江东父老</span>
                        </div>
                        <div class="xcomment-widget xcomment-reply-widget">
                            <div class="xcomment-operation">
                                <i class="xcomment-icon xcomment-icon-dot"></i>
                                <div class="xcomment-operation-drop">
                                    <a class="xcomment-operation-drop-item" href="javascript:;">举报</a>
                                    <a class="xcomment-operation-drop-item" href="javascript:;">加入黑名单</a>
                                </div>
                            </div>
                            <span class="xcomment-widget-margin">2018-03-29 21:21</span>
                            <span class="xcomment-widget-prize xcomment-widget-margin">
                                <i class="xcomment-icon xcomment-icon-prize"></i>
                                <span>11</span>
                            </span>
                            <span class="xcomment-btn">回复</span>
                        </div>
                    </section>
                </div>
            </div>
            <!-- // reply -->
        </section>
    </div>
</div>
</div>
</body>
</html>