/**
 * comment
 */
.xcomment-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(./all.png);
    background-repeat: no-repeat;
}
.xcomment-icon-dot {
    background-position: -10px -280px;
}
.xcomment-icon-prize {
    background-position: -10px -23px;
    vertical-align: text-top;
}
.xcomment-relative {
    position: relative;
}

/**
 * form
 */
.xcomment-form {
    position: relative;
    margin: 10px 0;
}
.xcomment-form-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;
    height: 66px;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #00a1d6;
    background-color: #00a1d6;
    outline: 0;
    cursor: pointer;
    vertical-align: top;
    border-radius: 4px;
}
.xcomment-form-btn:hover {
    background-color: #00b5e5;
    border-color: #00b5e5;
}
.xcomment-form-face {
    position: absolute;
    top: 10px;
    left: 16px;
}
.xcomment-form-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.xcomment-form-content {
    margin-left: 85px;
    margin-right: 85px;
}
.xcomment-form-textarea {
    display: inline-block;
    width: 100%;
    height: 68px;
    padding: 5px 10px;
    overflow: auto;
    box-sizing: border-box;
    color: #555;
    font-size: 12px;
    border: 1px solid #e5e9ef;
    background-color: #f4f5f7;
    resize: none;
    outline: 0;
    border-radius: 4px;
}
.xcomment-form-textarea.error {
    border-color: #e40c0c;
    background-color: #fff;
}
.xcomment-form-textarea:focus,
.xcomment-form-textarea:hover {
    border-color: #00a1d6;
    background-color: #fff;
}
.xcomment-form-widget {
    position: relative;
    color: #99a2aa;
    margin-left: 85px;
    font-size: 12px;
}
.xcomment-form-widget a {
    text-decoration: none;
}
.xcomment-form-widget-item {
    display: inline-block;
    height: 26px;
    line-height: 24px;
    color: #99a2aa;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
}
.xcomment-form-widget-item:hover {
    background-color: #e5e9ef;
}
.xcomment-form-widget-emoji {
    background: url(./all.png) no-repeat -6px -340px;
    padding-left: 26px;
}
.xcomment-form-pop {
    position: absolute;
    z-index: 12;
    top: 32px;
    left: 0;
    width: 380px;
    background-color: #fff;
    border: 1px solid #ccd0d7;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    border-radius: 6px;
}
.xcomment-form-pop:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 25px;
    width: 12px;
    height: 10px;
    background: url(./all.png) no-repeat -12px -456px;
}
.xcomment-form-pop-title {
    font-size: 12px;
    line-height: 20px;
    margin: 5px 12px 5px 12px;
}
.xcomment-form-pop-footer {
    position: relative;
    height: 38px;
    line-height: 38px;
    background-color: #f4f5f7;
    overflow: hidden;
    border-radius: 6px;
}
.xcomment-form-pop-footer a {
    display: inline-block;
    width: 60px;
    color: #111;
    text-align: center;
}
.xcomment-form-pop-footer a.active {
    background-color: #fff;
}
.xcomment-form-pop-emoji {
    height: 150px;
    margin: 0 12px 0 12px;
    overflow: auto;
}
.xcomment-form-pop-emoji a {
    display: inline-block;
    padding: 5px 6px;
    margin: 3px 3px;
    color: #111;
    text-decoration: none;
    transition: background-color .2s;
    border-radius: 4px;
}
.xcomment-form-pop-emoji a:hover {
    background-color: #ddd;
}

/**
 * comment item
 */
.xcomment-face {
    position: absolute;
    top: 12px;
    left: 16px;
}
.xcomment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.xcomment-content {
    margin-left: 85px;    
}
.xcomment-content-toplevel {
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #e5e9ef;
}
.xcomment-user {
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
}
.xcomment-user a {
    color: #6d757a;
    text-decoration: none;
}
.xcomment-text {
    line-height: 22px;
    font-size: 14px;
}
.xcomment-widget {
    position: relative;
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px;
}
.xcomment-widget a {
    color: #99a2aa;
    text-decoration: none;
}
.xcomment-widget-margin {
    margin-right: 20px;
}
.xcomment-operation {
    position: absolute;
    top: 3px;
    right: 0;
    width: 18px;
    height: 18px;
}
.xcomment-operation:hover .xcomment-icon-dot {
    cursor: pointer;
    background-position: -75px -280px;
}
.xcomment-operation:hover .xcomment-operation-drop {
    display: block;
}
.xcomment-operation-drop {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 16px;
    width: 100px;
    padding: 10px 0;
    color: #222;
    font-size: 14px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    display: none;
}
.xcomment-operation-drop-item {
    display: block;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    color: #000;
    transition: color, background-color .2s;
}
.xcomment-operation-drop-item:hover {
    color: #00a1d6;
    background-color: #e5e9ef;
}
.xcomment-widget-prize {
    cursor: pointer;
}
.xcomment-widget-prize:hover .xcomment-icon-prize {
    background-position: -10px -87px;
}
.xcomment-btn {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 4px;
}
.xcomment-btn:hover {
    color: #00a1d6;
    background-color: #e5e9ef;
}

/* header */
.xcomment-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e9ef;
}
.xcomment-header a {
    display: inline-block;
    margin-right: 16px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.xcomment-header a.active,
.xcomment-header a:hover {
    color: #00a1d6;
    border-bottom-color: #00a1d6;
}

/* reply */
.xcomment-reply {
    padding: 8px 0;
}
.xcomment-reply-face {
    left: 0;
}
.xcomment-reply-avatar {
    width: 26px;
    height: 26px;
    border-radius: 13px;
}
.xcomment-reply-content {
    margin-left: 40px;
}
.xcomment-reply-text {
    margin-left: 10px;
    font-weight: normal;
}
.xcomment-reply-widget .xcomment-icon-dot {
    display: none;
}
.xcomment-reply:hover .xcomment-icon-dot {
    display: block;
}
